{namespace p=TYPO3\Planet\ViewHelpers}
<div class="" style="padding: 8px 0;">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Manage the planet</h3>
		</div>
		<div class="list-group">
			<p:menu.item controller="Overview" action="index" icon="glyphicon glyphicon-home">Overview</p:menu.item>
			<p:menu.item controller="Item" action="index" icon="glyphicon glyphicon-file">Items</p:menu.item>
			<p:menu.item controller="Channel" action="index" icon="glyphicon glyphicon-book">Channels</p:menu.item>
			<p:menu.item controller="Category" action="index" icon="glyphicon glyphicon-tags">Categories</p:menu.item>
		</div>
	</div>
</div>
<f:security.ifHasRole role="SystemAdministrator">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">System management</h3>
		</div>
		<div class="list-group">
			<p:menu.item controller="User" action="index" icon="icon-user">Users</p:menu.item>
		</div>
	</div>
</f:security.ifHasRole>
