<!DOCTYPE html>
<html lang="en" xmlns:bootstrap="http://typo3.org/ns/TYPO3/Twitter/Bootstrap/ViewHelpers">
	<head>
		<meta charset="utf-8" />
		<title><f:render section="Title" /> - Planetflow3</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Planetflow3 administrative backend" />

		<f:base />
		<bootstrap:include version="3.1" minified="1" includeJQuery="1" jQueryVersion="1.10.1" />
		<link href="{f:uri.resource(path: 'Media/Stylesheets/backend.css')}" rel="stylesheet" />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-inner">
				<div class="container">
					<a class="navbar-brand" href="#">TYPO3.Planet</a>
					<div class="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Administration</a></li>
						</ul>
						<f:security.ifAuthenticated>
							<ul class="nav  navbar-nav pull-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <strong>{account.accountIdentifier}</strong> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><f:link.action action="logout" controller="Login"><i class="icon-off icon-black"></i> Logout</f:link.action></li>
									</ul>
								</li>
							</ul>
						</f:security.ifAuthenticated>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-md-3">
						<f:render partial="Shared/Menu.html" />
					</div>
					<div class="col-md-9">
						<f:render partial="Shared/FlashMessages.html" />
						<f:render section="Content" />
					</div>
				</div>
			</div>

			<footer>
				<p>&copy; networkteam GmbH 2012 / Kay Strobach 2014</p>
			</footer>
		</div>
	</body>
</html>
