<!doctype html>
<html class="no-js" lang="en" xmlns:bootstrap="http://typo3.org/ns/TYPO3/Twitter/Bootstrap/ViewHelpers">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<f:base />
	<title>TYPO3.Planet</title>
	<meta name="description" content="A planet full of FLOW3 blogs and buzz.">

	<link rel="alternate" type="application/rss+xml" title="planetflow3 - RSS" href="{f:uri.action(controller: 'standard', action: 'feed', arguments: {language: language}, format: 'xml', absolute: 'true')}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<bootstrap:include version="3.1" minified="1" includeJQuery="1" jQueryVersion="1.10.1" />
	<script src="{f:uri.resource(path: 'Media/JavaScripts/modernizr-1.7.min.js')}"></script>
</head>

<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<f:render section="menu" optional="1"/>
				<li><a href="{f:uri.action(controller: 'standard', action: 'feed', arguments: {language: language}, format: 'xml', absolute: 'true')}">RSS</a></li>
				<li><a href="#imprint"  data-toggle="modal" data-target="#imprint">Imprint</a></li>
				<li><f:link.action action="index" controller="Login">Login</f:link.action></li>
			</ul>
			<h3 class="text-muted">TYPO3.Planet</h3>
		</div>
		<hr>
	</div>

	<div class="container">
		<div id="main" role="main">
			<f:render section="main"/>
		</div>
	</div>

	<footer>
		<div class="container">
			<hr>
			<f:if condition="{f:render(section:'footer', optional:'1')}">
				<f:then>
					<f:render section="footer" optional="1"/>
				</f:then>
				<f:else>
					<div class="row">
						<div class="col-md-4">
							<f:render section="footer1" optional="1"/>
						</div>
						<div class="col-md-4">
							<f:render section="footer2" optional="1"/>
						</div>
						<div class="col-md-4">
							<f:render section="footer3" optional="1"/>
						</div>
					</div>
				</f:else>
			</f:if>

		</div>
	</footer>

	<div class="modal fade" id="imprint">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Imprint / Impressum</h4>
				</div>
				<div class="modal-body">
					<p>
						This website is operated and maintained by:
					</p>
					<p>
						networkteam GmbH<br/>
						Kleiner Kuhberg 42<br/>
						24103 Kiel<br/>
						Germany<br/>
						info@networkteam.com<br/>
						+49 431 5300600
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script src="{f:uri.resource(path: 'Media/JavaScripts/jquery.infinitescroll.min.js')}"></script>
	<script src="{f:uri.resource(path: 'Media/JavaScripts/script.js')}"></script>
	<script src="https://apis.google.com/js/plusone.js"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>