<f:layout name="Backend" />

<f:section name="Title">Channels</f:section>

<f:section name="Content">
	<div class="page-header">
		<h1>Channels</h1>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Last fetch date</th>
				<th>Posts</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{channels}" as="channel">
			<tr>
				<td>
					{channel.name}<br />
					<a href="{channel.url}">{channel.url}</a>
				</td>
				<td>
					<f:if condition="{channel.lastFetchDate}">
						<f:then>{channel.lastFetchDate -> f:format.date(format: 'Y-m-d H:i:s')}</f:then>
						<f:else><span class="label label-warning">never</span> Check this feed for warnings or errors in the log.</f:else>
					</f:if>
				</td>
				<td>
				<f:link.action action="index" controller="Item" arguments="{filter: {channel: channel}}"><span class="badge">{channel.items -> f:count()}</span></f:link.action>
				</td>
				<td>
					<f:link.action action="edit" arguments="{channel: channel}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</f:link.action>
					<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#channel-{channel -> f:format.identifier()}">
						<span class="glyphicon glyphicon-trash"></span> Delete
					</button>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
	<f:for each="{channels}" as="channel">
		<div class="modal fade" id="channel-{channel -> f:format.identifier()}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Delete Channel</h4>
					</div>
					<div class="modal-body">
						Really deleted channel named: "{channel.name}" ?
					</div>
					<div class="modal-footer">
						<f:form action="delete" object="{channel}" name="channel">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</f:form>
					</div>
				</div>
			</div>
		</div>
	</f:for>
	<p>
		<f:link.action action="new" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Create new channel</f:link.action>
	</p>
</f:section>
