{namespace p=TYPO3\Planet\ViewHelpers}
<p:controlGroup property="name">
	<label class="control-label col-sm-2" for="field-name">Name *</label>
	<div class="col-sm-10">
		<f:form.textfield property="name" class="form-control" id="field-name" />
		<p class="help-block"><span class="glyphicon glyphicon-info-sign"></span>This text will be displayed in the channel list on the frontpage.</p>
	</div>
</p:controlGroup>
<p:controlGroup property="url">
	<label class="control-label col-sm-2" for="field-url">URL *</label>
	<div class="col-sm-10">
		<f:form.textfield property="url" class="form-control" id="field-url" />
		<p class="help-block"><span class="glyphicon glyphicon-info-sign"></span>The URL of the website / blog, will be used to link to the website.</p>
	</div>
</p:controlGroup>
<p:controlGroup property="feedUrl">
	<label class="control-label col-sm-2" for="field-feedUrl">Feed-URL *</label>
	<div class="col-sm-10">
		<f:form.textfield property="feedUrl" class="form-control" id="field-feedUrl" />
		<p class="help-block"><span class="glyphicon glyphicon-info-sign"></span>The feed URL should point to an Atom or RSS feed or should allow auto-discovery.</p>
	</div>
</p:controlGroup>
<p:controlGroup property="filter">
	<label class="control-label col-sm-2" for="field-filter">Filter</label>
	<div class="col-sm-10">
		<f:form.textfield property="filter" class="form-control" id="field-filter" />
		<p class="help-block"><span class="glyphicon glyphicon-info-sign"></span>Use these filter terms to find matching items in the feed. One of the commaseperated words needs to occur either in Description, Title or Content of each published Item</p>
	</div>
</p:controlGroup>
