{namespace p=TYPO3\Planet\ViewHelpers}
<p:controlGroup property="emailAddress">
	<label class="control-label col-sm-2" for="field-emailAddress">E-Mail *</label>
	<div class="col-sm-10">
		<f:form.textfield property="emailAddress" class="form-control" id="field-emailAddress" />
		<p class="help-block">The e-mail address will also be used as the account identifier for login.</p>
	</div>
</p:controlGroup>
<p:controlGroup property="role">
	<label class="control-label col-sm-2" for="field-role">Role *</label>
	<div class="col-sm-10">
		<f:form.select property="role" id="field-role" options="{Administrator: 'Administrator', SystemAdministrator: 'SystemAdministrator'}" class="form-control"/>
		<p class="help-block"><strong>Administrator:</strong> Is allowed to manage channels, items and categories.</p>
		<p class="help-block"><strong>SystemAdministrator:</strong> Is allowed to manage all data and users.</p>
	</div>
</p:controlGroup>
<p:controlGroup name="userPassword[password]">
	<label class="control-label col-sm-2" for="field-password">Password <f:if condition="{isNew}">*</f:if></label>
	<div class="col-sm-10">
		<f:form.password name="userPassword[password]" class="form-control" id="field-password" /> <span class="help-inline">Minimum of 8 characters</span>
		<f:if condition="{isNew}">
			<f:then></f:then>
			<f:else>
				<p class="help-block"><strong>Note:</strong> An empty password will not change the current value.</p>
			</f:else>
		</f:if>
	</div>
</p:controlGroup>
<p:controlGroup name="userPassword[passwordConfirmation]">
	<label class="control-label col-sm-2" for="field-passwordConfirmation">Repeat password <f:if condition="{isNew}">*</f:if></label>
	<div class="col-sm-10">
		<f:form.password name="userPassword[passwordConfirmation]" class="form-control" id="field-passwordConfirmation" />
	</div>
</p:controlGroup>
