{namespace p=TYPO3\Planet\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<div class="articles">
	<f:for each="{items}" as="item">
		<article class="item">
			<div class="pull-right">
				<g:plusone href="{item.link}"></g:plusone>
			</div>
			<h2><a href="{item.link}">{item.title -> f:format.raw()}</a></h2>
			<div class="">
				<small>
					<span class="date">{item.publicationDate -> f:format.date(format: "M jS Y")}</span>
					<a class="channel" href="{item.channel.url}">{item.channel.name}</a>
					<f:if condition="{language}">
						<f:then></f:then>
						<f:else>
							<f:link.action action="index" arguments="{language: item.language}" class="language" title="View only posts in {item.language -> p:languageName(lowercase: 1)}">{item.language -> p:languageName()}</f:link.action>
						</f:else>
					</f:if>
				</small>
			</div>


			<f:if condition="{item.content}">
				<f:then>
					{item.content -> f:format.raw()}
				</f:then>
				<f:else>
					{item.description -> f:format.raw()}
				</f:else>
			</f:if>
			<p class="more">
				<a href="{item.link}">Read full article</a>
			</p>
			<hr>
		</article>
	</f:for>
	</div>
	<f:if condition="{hasNext}">
		<p class="pagebrowser">
			<f:link.action action="index" arguments="{page: nextPage, language: language}" class="next">Next</f:link.action>
		</p>
	</f:if>
</f:section>

<f:section name="footer">
	TYPO3.Planet
</f:section>


<f:section name="menu">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Channels <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<f:for each="{channels}" as="channel">
				<li>
					<a href="{channel.url}">
						<span class="glyphicon glyphicon-globe"></span>
						{channel.name}
					</a>
				</li>
			</f:for>
			<li class="divider"></li>
			<li>
				<a href="{f:uri.action(controller: 'standard', action: 'feed', arguments: {language: language}, format: 'xml', absolute: 'true')}" class="rss">
					<span class="glyphicon glyphicon-pushpin"></span>
					Subscribe RSS feed
				</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li class="{f:if(condition:language, else:'active')}">
				<f:link.action action="index" arguments="{language: null}">All</f:link.action>
			</li>
			<li class="divider"></li>
			<f:for each="{languages}" as="availableLanguage">
				<li class="{f:if(condition:'{language}=={availableLanguage}', then:'active')}">
					<f:link.action action="index" arguments="{language: availableLanguage}">{availableLanguage -> p:languageName()}</f:link.action>
				</li>
			</f:for>
		</ul>
	</li>
</f:section>